.sidebar{
  height: 90vh;
  margin: 1rem;
  margin-top: 5vh;
  background: white;
  border-radius: 10px;
  padding: 10% 4%;
}
.button{
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
  background: #00b8ff87;
  color: white;
  font-size: larger;
  border-radius: 10px;
  border: 0;
}
.horizental{
  margin-top: 3vh;
  border-top: 1px solid #00b8ff87;
}