.mainContainer{
  display: flex;
  flex-direction: row;
  background-color: #00e7ff1f;
}
.sideBar{
  flex: 1;
  height: 100vh;
}
.contentBar{
  flex: 4;
  /* height: 100vh; */
}
.headerMainContainer{
  display: flex;
  flex:0.3;
 
}